@model Somativa.Models.Fornecedor

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-black"> Novo Fornecedor</h4>
<hr />
<div class="row text-dark">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Nome" class="form-control" placeholder=" "/>
                <label asp-for="Nome" class="control-label"></label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Cnpj" class="form-control"  placeholder=" "/>
                <label asp-for="Cnpj" class="control-label"></label>
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger m-2">
                    <svg bootstrap-icon="ArrowReturnLeft" width="20" height="20" aria-label="Voltar"></svg>
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
