@model Somativa.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-black">Categoria</h1>

<div class="text-black">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoriaId" class="btn btn-primary">
        <svg bootstrap-icon="Pen" width="20" height="20" aria-label="Voltar"></svg>
        Editar
    </a>
    <a asp-action="Index" class="btn btn-danger m-2">
        <svg bootstrap-icon="ArrowReturnLeft" width="20" height="20" aria-label="Voltar"></svg>
        Voltar
    </a>
</div>
