@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h2 class="col-md-6 alert alert-warning mx-auto text-center" role="alert">Digite seu E-mail.</h2>
<hr />
<div class="text-center">
    <div class="col-md-6 mx-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3 col-md-6 mb-3 mx-auto">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="col-md-4 btn btn-lg btn-secondary">Resetar Senha</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
